# Summing values in groups

by Koenraad De Smedt for University of Bergen

---
Based on a real research case, this notebook shows how to:

1.   Read a TSV file (*tab* separated values) into a *pandas* dataframe
2.   Find rows with missing values (NaN)
3.   Group rows based on values in a column
4.   Sum values in another column within each group
5.   Display the sums in a bar plot
6.   Save the plot and write the table to a CSV file.

The examples uses data downloaded from NorGramBank, a large Norwegian treebank containing thousands of texts from different years, accessible in [CLARINO](https://clarino.uib.no/iness). Each row represents one text and has two columns: the number of sentences in that text and the year for that text.

The challenge is to get a better overview by making the sum of the sentence counts for each year. We should also find out how many sentences do not have a year.

---

In [ ]:
import pandas as pd
url = 'https://git.app.uib.no/desmedt/teaching/-/raw/main/ngb-years.tsv'

# Alternative source
# url = 'https://raw.githubusercontent.com/clarino/teaching/main/ngb-years.tsv'

We start by reading the table as a pandas dataframe. The separator is the tab character, there is no header, and we ignore comment lines.

The column names are *sentences* and *year*. 

The datatype of the columns can be specified with `dtype`. Sentences are integers and years are strings. The latter is necessary because we have some rows with missing years; such missing values become `NaN` (not a number), also called `NA` (not available), which is incompatible with an integer array.

In [ ]:
texts = pd.read_csv(url, sep='\t', header=None, comment='#',
                    names=['sentences', 'year'],
                    dtype={'sentences': int, 'year': str})
texts

Show the first ten lines.

In [ ]:
texts.head(10)


Take all rows with missing values (NaN) for the *year* column.

In [ ]:
no_year_texts = texts[texts['year'].isna()]
no_year_texts

Take all rows where the year is missing and compute the sum of the sentences.

In [ ]:
no_year_texts['sentences'].sum()

Group by year. At the same time, we drop the rows with NaN values. We could also keep the NaN values if we wanted. Display the counts in each group. Be careful: these numbers are *not the sums* of all sentence values for each year, but the *counts* of the sentence values in each group, in other words, the number of texts.

In [ ]:
grouped = texts.groupby('year', dropna=True)
grouped.count()

We sum the values for the sentences in each group, producing a series with `year` as index and *sentences* as values. This is the information we wanted.

In [ ]:
sum_years = grouped.sum()
sum_years

Make a bar plot. Some bars may be too small to be shown. There are no bars for years without sentences.

In [ ]:
barplot = sum_years.plot.bar()

If desired, save the plot in a picture file. The dpi indicates the resolution and bbox_inches='tight' makes tight margins. Remember that files created in Colab are temporary, but can be downloaded during the session.

In [ ]:
pic = barplot.get_figure()
pic.savefig('sentences-years', dpi=200, bbox_inches='tight')

If desired, write the series to a CSV file. By default, the header is included and a column for the series index (the years) is also included.

In [ ]:
sum_years.to_csv('ngb-years.csv', sep=';')

Show the first ten lines of the file that was just written. This is an operating system command.

In [ ]:
!head ngb-years.csv

## Exercises

1.   Write code for getting the total number of sentences written in 1999 from `sum_years`.
2.   Write code for writing out the minimal and maximal number of sentences in a `sum_years`.
3.   Change `dropna` so as to keep the NaN values and see what happens when you do the sums and the plot.